<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz Time</title>
</head>
<body>
<nav> <button id='user_name' method="GET" action='/user-page'>{{userName}}</button></nav>
<form id="questionForm">
    {{#each data}}
        {{{this.question}}}
            {{#each this.answers}}
                {{{this}}}
            {{/each}}
    {{/each}}

    <a id="answerSubmit" href="#">Submit your answers!!</a>

</form>
  {{!-- {Questions: response } forEach  [all questions from api < forEach all answers >]  --}}
  <script src="/public/app.js"></script>
</body>
</html>