<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/src/style.css">
    <title>Quiz Time</title>
</head>
<body>

<nav> <button id='user_name' method="GET" action='/user-page'>{{userName}}</button></nav>
<form id="questionForm" method="POST" action="/scoreRead">

    {{#each data}}
        {{{this.question}}}
            {{#each this.answers}}
                {{{this}}}
            {{/each}}
    {{/each}}

    <button id="answerSubmit">Submit your answers!!</button>

</form>
  {{!-- {Questions: response } forEach  [all questions from api < forEach all answers >]  --}}
  <script src="/public/app.js"></script>
</body>
</html>