* {
  box-sizing: border-box;
}

.bodyWrapper {
  padding: 25px 10%;
  border: solid 2px black;
  font-family: fantasy;

  background: rgb(213, 190, 97);
}

h3 {
  background-color: rgba(237, 237, 237, 0.31);
  text-shadow: 2px 2px 2px #1d1a0e;
  box-shadow: 2px 2px 7px 1px rgb(34, 27, 10);
}
.questionBox {
  border: solid 2px black;
}
h1 {
  text-align: center;
}

.inputBtns:visited,
.inputBtns:active {
  border-color: black !important;
  color: black !important;
  text-shadow: none !important;
  background-color: black;
}
.input.inputBtns {
  color: black;
}
